<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="calculator.js" defer></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <div>1st number: <input type="number" v-model="number1"></div>
    <div>2nd number: <input type="number" v-model="number2"></div>
    <div>3rd number: <input type="number" v-model="number3"></div>
    <div>
    <button v-on:click="computeSum()">Compute Sum</button>
    <button v-on:click="computeProduct()">Compute Product</button>
    <button v-on:click="computeDifference()">Compute Difference</button>
  </div>
    <p>The sum is: {{ sum }}</p>
    <p> The product is: {{ product }}</p>
    <p> The difference is: {{ difference }}</p>
  </div>
</body>
</html